body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fundo escuro */
    color: #fff; /* Texto branco */
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    text-align: center; /* Centraliza o conteúdo da navbar */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333; /* Cor de fundo da navbar */
    border-radius: 8px; /* Borda arredondada */
    overflow: hidden;
}

nav li {
    display: inline; /* Faz com que os itens da navbar fiquem em linha */
}

nav a {
    display: inline-block; /* Adiciona uma borda ao redor dos itens */
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

section h1 {
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
}

header p {
    font-size: 20px;
    opacity: 0.8;
}

#presentation {
    text-align: center;
    padding: 1em 0;
}

#presentation h2 {
    font-size: 15px;
}

#presentation p {
    font-size: 20px;
}

#oquefaco {
    font-size: 15px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    opacity: 0.9;
}
